#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  border: 2px solid brown;
  width: 60%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dimgray;
  gap: 1rem;
}
